{% extends 'index.html' %}


{% block css %}
<link href="/static/css/upload.css" rel="stylesheet">
<style>
.layui-table {
    width:500px;
    background-color: #fff;
    color: #666;
    margin:20px 0px;
}
</style>
{% endblock %}


{% block content %}
<div class="layui-form">

  <label class="layui-form-label">姓名</label>
						<div class="layui-input-block">
							<input type="text" id="userName" name="userName" lay-verify="required" autocomplete="off" placeholder="请输入姓名"
							 class="layui-input" />
						</div>


  <table class="layui-table">
    <colgroup>
      <col width="150">
      <col width="150">
      <col width="200">
      <col>
    </colgroup>
    <thead>

      <tr>
        <th>id</th>
        <th>姓名</th>
        <th>性别</th>
        <th>时间</th>
        <th>证候</th>
        <th>来源</th>
        <th>处方组成</th>
      </tr>

    </thead>
    <tbody>
 {%  for  medicalinfo in msg %}
  <tr>
    <td  contentEditable="true">{{medicalinfo.id}}</td>
    <td>{{medicalinfo.name}}</td>
    <td>{{medicalinfo.sex}}</td>
    <td>{{medicalinfo.date}}</td>
    <td>{{medicalinfo.syndrome}}</td>
    <td>{{medicalinfo.source}}</td>
    <td>{{medicalinfo.combination}}</td>
  </tr>
 {%  endfor     %}
    </tbody>
  </table>

</div>

  {% endblock %}

</body>
</html>>