
{% extends 'index.html' %}
{% block css %}
<link href="/static/css/upload.css" rel="stylesheet">
{% endblock %}

{% block js%}
<script src="/static/js/upload.js"></script>
{% endblock%}
{% block content %}
<form class="layui-form" action="/upload/" method="post">
  <div class="layui-form-item">
    <label class="layui-form-label">姓名</label>
    <div class="layui-input-block">
      <input type="text" name="name"  placeholder="请输入姓名" autocomplete="off" class="layui-input">
    </div>
  </div>


  <div class="layui-form-item">
    <label class="layui-form-label"   style="margin-right:30px">性别</label>
    <div class="layui-input-block">
      <input type="radio" name="sex" value="男"  title="男"    style="margin-left:0px">
      <input type="radio" name="sex" value="女"    title="女"  style="padding:0px" checked>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">日期</label>
    <div class="layui-input-inline">
      <input type="text" name="date"   placeholder="请输入日期" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">辅助文字</div>
  </div>


    <div class="layui-form-item">
    <label class="layui-form-label">证候</label>
    <div class="layui-input-inline">
      <input type="text" name="syndrome"  placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">辅助文字</div>
  </div>


    <div class="layui-form-item">
    <label class="layui-form-label">处方来源</label>
    <div class="layui-input-inline">
      <input type="text" name="source"   placeholder="请输入密码" autocomplete="off" class="layui-input" >
    </div>
    <div class="layui-form-mid layui-word-aux">辅助文字</div>
  </div>


    <div class="layui-form-item">
    <label class="layui-form-label">处方组成</label>
    <div class="layui-input-inline">
      <input type="text" name="combination"   placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">辅助文字</div>
  </div>


  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>






</form>
{% endblock %}
