body {
  margin:0px;
  padding:0px;
 }

li {
  list-style-type: none;
 }


a:hover{
  text-decoration: none;
}

.layui-icon {
  width:40px;
  font-size: 20px;
  margin-left:-28px
}

.layui-table td, .layui-table th {
        text-overflow: ellipsis;
		white-space: nowrap;
    }
